@import './produtos.css';

.section_inicial {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 120px;
    background: url('../images/banner-image.png') center/cover;
}
.titulo {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.6;
}
.texto {
    color: #fff;
    font-weight: 200;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.links {
    color: #2A7AE4;
    text-decoration: none;
    font-weight: 500;
    font-size: .9rem;
}
.links:hover {
    text-decoration: underline;
}
/* PARTE DOS PRODUTOS */
.textos_home {
    display: flex;
    width: 1150px;
    justify-content: space-between;
    margin-bottom: 10px;
}
.titulo_home {
    font-weight: normal;
    margin-top: 10px;
    font-size: .9rem;
}
.preco_home {
    font-weight: bold;
    line-height: 2;
    font-size: 1rem;
}
.container {
    width: 1200px;
    margin-bottom: 50px;
}
.seta {
    width: 10px;
    margin-left: 5px;
}

/* RESPONSIO ESPECIFICO */
@media screen and (min-width: 0) {
    .header {
        background-color: blue;
    }
}
@media screen and (min-width: 768px) {
    .header {
        background-color: green;
    }
}
@media screen and (min-width: 992px) {
   .header {
    background-color: orange;
   }
}