@import './produtos.css';

.section_inicial {
    height: 220px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    background: url('../images/banner-image.png') center/cover;
}
.titulo {
    color: #fff;
    font-weight: 500;
    line-height: 1.6;
}
.texto {
    color: #fff;
    font-weight: 200;
    margin-bottom: 10px;
}
.links {
    color: #2A7AE4;
    text-decoration: none;
    font-weight: 500;
    font-size: .9rem;
}
.links:hover {
    text-decoration: underline;
}
/* PARTE DOS PRODUTOS */
.sessao_produtos {
    display: flex;
    flex-direction: row;
}
.textos_home {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

}
.titulo_home {
    font-weight: normal;
    font-size: .9rem;
}
.preco_home {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
}

.seta {
    width: 10px;
    margin-left: 5px;
}

/* RESPONSIO ESPECIFICO */
@media screen and (min-width: 0) {
    .section_inicial {
        padding-left: 20px;
        width: auto;
    }
    .titulo {
        font-size: 1.9rem;
    }
    .texto {
        font-size: 1rem;
    }
    .textos_home {
        width: 300px;
    }
    .invisible {
        display: none;
    }
    .produtos_home {
        width: 200px;
        margin-bottom: 10px;
    }
    .sessao_produtos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 400px;
    }
}
@media screen and (min-width: 768px) {
    .titulo {
        font-size: 2.5rem;
    }
    .texto {
        font-size: 1.1rem;
    }
    .textos_home {
        width: 740px;
    }
    .sessao_produtos {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .invisible {
        display: none;
    }
}
@media screen and (min-width: 992px) {
   .section_inicial {
    width: 100%;
    padding-left: 120px;
   }
   .titulo {
    font-size: 3rem;
   }
   .texto {
    font-size: 1.2rem;
   }
   .textos_home {
    width: 1150px;   
   }
   .container {
    width: 1200px;
    margin-bottom: 50px;
    }
    .invisible {
        display: block;
    }
    .sessao_produtos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 1200px;
    }
}