@media screen and (min-width: 0) {
    .header {
        justify-content: space-between;
    }
    .logo {
        margin-left: 0;
    }
    .btn_header {
        margin-right: 90px;
        margin-left: 0;
    }
    .search-box {
        background: var(--background-branco);
        left: 90%;
    }
    .search-box:hover > .input_search {
        width: 10px;
    }
    .input_search {
        width: 0;
    }
    .contato {
        flex-direction: column;
        justify-content: center;
    }
    .info {
        flex-direction: column;
    }
    div .logo {
        margin: 0;
    }
    .lista_item {
        margin-bottom: 15px;
        font-size: .9rem;
    }
    .input_contato {
        width: auto;
    }
    .rodape {
        font-size: .8rem;
    }
}

@media screen and (min-width: 768px) {
    .header {
        justify-content: space-between;
    }
    .logo {
        margin-left: 0;
    }
    .btn_header {
        margin-right: 5px;
    }
    .search-box {
        width: 250px;
        left: 50%;
        background-color: var(--background-cinza);
    }
    .input_search {
        width: 250px;
    }
    .contato {
        justify-content: space-around;
    }
}

@media screen and (min-width: 992px) {  
    .header {
        justify-content: space-between;
    }
    .logo {
        margin-left: 30px;
    }
    .btn_header {
        margin-right: 30px;
    }
    .search-box {
        width: 350px;
        left: 50%;
    }
    .search-box:hover > .input_search {
        width: 240px;
    }
    .input_search {
        width: 300px;
    }
    .contato {
        flex-direction: row;
    }
    div .logo {
        margin-bottom: 100px;
    }
    .input_contato {
        width: 500px;
    }
    .info {
        flex-direction: row;
    }
    .rodape {
        font-size: 1rem;
    }
}